.scene__one {
  background: linear-gradient(
    269.98deg,
    rgba(15, 15, 15, 0.9) 0.02%,
    rgba(15, 15, 15, 0) 99.98%
  );
  backdrop-filter: blur(72px);
}

.scene__two {
  background: linear-gradient(
    90.1deg,
    rgba(15, 15, 15, 0.7) 0.06%,
    rgba(15, 15, 15, 0) 99.93%
  );
  backdrop-filter: blur(72px);
}

.frame {
  border: 1px solid #575757;
  border-radius: 5px;
}

/* .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-open {
  overflow: hidden;
}

.modal {
  z-index: 20;
} */

.item {
  width: 907.91px;
  height: 84.07px;
  border: 1.30769px solid #575757;
  border-radius: 9.34066px;
}
